doctype html
html
    head
        title Registo de Teses WebApp
        meta(charset="UTF-8")
        link(rel="stylesheet",href="/w3.css")
        link(rel="stylesheet",href="https://www.w3schools.com/lib/w3-theme-teal.css")
        link(rel="stylesheet",href="https://www.w3schools.com/lib/w3-theme-blue-grey.css")
    body
        block content
